<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Ajusta con tus datos reales -->
		<add name="PgConnection"
			 connectionString="Host=localhost;Port=5432;Database=SISTEMADEGESTION;Username=postgres;Password=5090;Pooling=true;Timeout=15;Command Timeout=30" />
	</connectionStrings>

	<!-- Mantén el runtime acorde a tu target (4.7.2 o 4.8) -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
